@font-face {
	font-family: 'Lato';
	src: url('#{$font}lato.eot');
	src: 		url('#{$font}lato.eot?#iefix') format('embedded-opentype'),
		url('#{$font}lato.woff2') format('woff2'),
		url('#{$font}lato.woff') format('woff'),
		url('#{$font}lato.ttf') format('truetype'),
		url('#{$font}lato.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}