.doc-menu{
	@media(min-width:1024px){	
		position: fixed;
		top: 50px;
		overflow-y: auto;
		height: calc(100% - 50px);
		background: #fff;
	}
	>li:nth-child(1)>a{
		@?include icon(play-circle-o);
	}
	>li:nth-child(2)>a{
		@?include icon(database);
	}
	>li:nth-child(3)>a{
		@?include icon(code);
	}
}
code{
	margin-top:0.2em;
	margin-bottom:0.2em;
	margin-left:0.8em;
	margin-right:0.8em;
	background: #f8f8f8 none repeat scroll 0 0;
	color: #333;
	display: block;
	overflow-x: auto;
	padding: 0.5em;
}
body>main.documentation{
	h2{
		margin-top: -5em;
		padding-top: 6em;
	}
	>div>*{
		float:left;
	}
	.cute img{
		border-radius: 4px;
		@include box-shadow(0 6px 12px rgba(0,0,0,.175));
	}
	strong{
		text-decoration:underline;
	}
	article.doc{
		border-left:1px solid #dee0df;
		@include box-sizing();
		width:100%;
		>*{
			margin: 0.8em 0.8em 0.2em;
		}
		h1{
			font-size:1.2em;
		}
	}
	ul.doc-menu,
	dl.tags{
		@include box-sizing();
		width:100%;
	}
	
	@media(min-width:768px){
		article.doc{
			width:75%;
		}
		ul.doc-menu,
		dl.tags{
			width:25%;
		}
	}
	@media(min-width:1100px){
		article.doc{
			width:800px;
		}
		ul.doc-menu,
		dl.tags{
			width:280px;
		}
	}
}
ul.doc-menu {
	list-style: none;
	margin-bottom:1em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	li ul {
		list-style: none;
		padding: 0;
	}
	>li {
		>ul >li >ul{
			display:none;
		}
		>ul >li.active >ul,
		>ul >li.unfold >ul{
			display:block;
		}
		margin-left: 0;
		
		a {
			font-size: 0.8em;
			display: block;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0.4em;
			padding-bottom: 0.6em;
			text-overflow: ellipsis;
			overflow: hidden;
			position: relative;
			color: #343434;
			-webkit-transition: color 0.2s ease;
			transition: color 0.2s ease;
			&:hover,&:focus,&:active {
				color: $color-main;
				text-decoration:none;
			}
		}
		ul {
			display: none;
			margin: 0;
			background-color: #fafafa;
			li {
				
				margin-left: 24px;
				&:last-child {
					a {
						border-bottom: none;
					}
				}
				&.active {
					a {
						color: $color-dark;
					}
				}
			}
		}
		&.unfold ul {
			display: block;
		}
		&.active {
			> a {
				color: $color-main;
			}
			> ul {
				display: block;
			}
		}
	}
	>li {
		&.active {
			
		}
	}
}
main.documentation{
	
	>div>article{
		float:right;
	}
	
	code{
		margin-bottom:1.4em;
	}
	
	&.getting-started{
		article.doc>h1{
			@?include icon(play-circle-o);
		}
	}
	
	article{
		ul,
		ol{
			margin:0.2em 2em 0.2em;
		}
	}
	.component-foot{
		@?include grid(*,2-96-2);
		@?include grid(1-48-1,1-48-1,480px);
		margin-top:0.3em;
		margin-bottom:0.3em;
		clear: both;
	}
	.continue-to{
		display:block;
		text-align:center;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		@?include icon(arrow-circle-right);
	}
	.github-repo-link{
		display:block;
		text-align:center;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		margin-top:0.3em;
		margin-bottom:0.3em;
		@?include icon(github);
	}
	.specificity{
		color:#009900;
		font-weight:bold;
	}
}

code.code-inline{
	display:inline;
	background:transparent;
	margin-bottom:0;
}

/* disable auto line wrap in hljs */
pre, code {
    white-space: pre;
    overflow-x: scroll;
}
.hljs {
    display: inline-block;
    overflow-x: scroll;
    padding: 0.5em;
    padding-right: 100%;
    background: #002b36;
    color: #839496;
    -webkit-text-size-adjust: none;
}

.cute{
	display:block;
	position:relative;
	float:left;
	clear:both;
	width:100%;
	>*{
		margin-left:3%;
		float:left;
		clear:both;
		@media(min-width:1000px){
			clear:none;
		}
	}
}