body>footer{
	position: relative;
	.foot{
		float:left;
		width: 100%;
		display: block;
		clear: both;
		background-color: #eaeaea;
		>div{
			display:block;
			position:relative;
			float:left;
			width:100%;
			text-align:center;
			margin-top:2px;
			margin-bottom:2px;
			font-size: 0.9em;
			color: #343434;
			&:first-child{
				margin-top:2em;
			}
			&:last-child{
				margin-bottom:2em;
			}
		}
		.license{
			
			float:left;
			position: relative;
			width:100%;
			text-align:center;
		}
		a {
			border-bottom:1px dotted #000;
			color: #545454;
			&.active,
			&:hover {
			  color: $color-main;
			  text-decoration:none;
			}
		}
	}
}