main.home{
	p{
		font-size:1.1em;
	}
	>article{
		h1{
			padding-top:2em;
		}
		clear:both;
		min-height: 100vh;
		height: auto;
	
		font-size:0.8em;
		&:first-child{
			font-size:1.3em;
			min-height: 84vh;
			text-align: center;
			padding-top:8vh;
			h1{
				padding-top:1em;
			}
			.logo{
				padding-top: 8vh;
				font-size: 8.5em;
				display:block;
				position: relative;
/*
				text-shadow: 4px 2px 10px #777;
*/
			}
			.logo-subtitle{
				color:#000;
			}
			p{
				font-size:1em;
			}
		}
		&#interop{
			.half-left,
			.half-right{
				margin:0.8em 0.8em 0.2em;
				min-height: 11em;
				display:block;
			}
			.paw-yy{
				opacity:0.75;
			}
		}
		.paradigm-element{
			font-size:1.2em;
			width:100%;
			float:left;
			margin:1em;
			dl{
				float:left;
				postion:relative;
				min-width:33%;
				margin:0 auto;
				dt{
					font-weight:bold;
					padding-right:1em;
					padding-top:1em;
				}
				dd{
				}
			}
		}
		
	}
	.continue-wrap{
		text-align:center;
		margin-top:2.5em;
	}
	.continue-documentation,
	.continue-download{
		text-align:center;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		padding-left:1em;
		padding-right:1em;
		maring-left:auto;
		maring-right:auto;
		position: relative;
	}
	.continue-documentation{
		@?include icon(book);
	}
	.continue-download{
		@?include icon(download);
	}
	.with-love-before{
		margin-left:0.1em;
	}
	.with-love{
		margin-left:-1em;
		@?include icon(heart,true);
	}
}