body>main{
	width: 100%;
	min-height:100%;
	overflow: hidden;
	position: relative;
	font-size:1.3em;
	clear:both;
    @include clearfix();
	
	padding-bottom: 0;
	display:block;
	p{
		font-size:1em;
	}
	>article>section{
		li{
			margin-left: 1em;
		}
		img{
			margin: 2px auto;
			display: block;
			height:auto;
			max-width:100%;
		}
	}
	>*:last-child{
		margin-bottom:2em;
	}
	.pair-wrap{
		background: #f0f2f1;
	}
	.shadow-box{
		margin-bottom:1em;
		background: none repeat scroll 0 0 #FFFFFF;
		@include box-sizing();
		background-color: #fff;
		border: 1px solid #ccc; // IE8 fallback
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		@include box-shadow(0 6px 12px rgba(0,0,0,.175));
		word-wrap:break-word;
		padding:0.3em;
	}
	h1{
		margin-bottom:0.5em;
		font-size:1.6em;
		font-weight:normal;
		padding-top:0.3em;
		padding-bottom:0.2em;
		padding-left: 0.5em;
		padding-right:0.5em;
		text-align:center;
		background:transparent;
		border:none;
		color:$color-main;
/*
		text-shadow: 2px 2px 2px #969696;
*/
	}
	h2{
		font-size:1em;
		font-weight:bold;
		color:#000;
		text-decoration:underline;
		text-align:center;
		margin-top:1em;
		margin-bottom:1px;
	}
	h3{
		font-size:1em;
		font-weight:bold;
		color:#111;
		text-decoration:none;
		text-align:left;
		margin-top:0.7em;
		margin-bottom:1px;
		margin-left:0.8em;
		margin-right:0.8em;
	}
	h4{
		font-size:1em;
		font-weight:bold;
		color:#222;
		text-decoration:none;
		text-align:left;
		margin-top:0.7em;
		margin-bottom:1px;
		margin-left:0.8em;
		margin-right:0.8em;
	}
	ul{
		list-style-type:circle;
	}
	strong{
		text-decoration:none;
	}
	.back-home{
		@?include icon(arrow-left);
		display:block;
		margin-top:1em;
		margin-left:1em;
	}
}