*{
	margin:0;
	padding:0;
	border:0;
}
@viewport{
    zoom: 1.0;
    width: device-width;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
html, body {
    height: 100%;
    color: #545454;
}
html{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
 	background: #ffffff; //url(#{$img}tiny_grid.png) 0 0 repeat
	font-size: 1em;
	font-family:Sourcecode Pro Light,Helvetica, Helvetica Neue, Arial, sans-serif;
}
ul{
	list-style-type:none;
}
a{
	color: $color-dark;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $color-dark;
		text-decoration: underline;
		outline:0;
	}
}
img{
	vertical-align: middle;
}
hr{
	border:1px solid #000;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}
p,
blockquote,
dl{
	margin-top:0.8em;
	margin-left:0.8em;
	margin-right:0.8em;
	margin-bottom:0.2em;
}
abbr{
    cursor: help;
}
em{
	font-weight:bold;
	text-decoration:none;
	font-style:normal;
}
.nobr{
	white-space:nowrap;
}
strong{
	font-weight:normal;
	text-decoration:underline;
}